<div class="widget {{#if enabled}}widget--active{{/if}}">

	<header class="widget__header">
		<i class="circle"></i> {{name}}
	</header>
	
	<div class="widget__content">
		<h1 class="widget__content__header">{{thisCounter}}</h1>
		<p><i class="triangle-{{direction}}"></i> {{percentageDiff}}</p>
	</div>

</div>